<!DOCTYPE html>
<html>
    <head>
        <% include ../parties/head %>
        <meta name="author" content="François Duchêne">
        <title>BeerSearch - Commander</title>
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <% include ../parties/nav %>
            <div id="navbar" class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                <li><a href="./RechercheBieres.html">Recherche bière</a></li>
                <li><a href="./PDV.html">Points de ventes</a></li>
                <li class="active"><a href="#">Commander une bière</a></li>
                <li><a href="./contact.html">Contact</a></li>
              </ul>
              <% if(isLog) { %>
                <button type="button" class="btn btn-default navbar-btn" onclick="location.href='./Profile.html'">Bonjour <%=nom%></button>
                <button type="button" class="btn btn-default navbar-btn" onclick="location.href='./deconnexion.html'">Se déconnecter</button>
              <% }else{ %>
                <button type="button" class="btn btn-default navbar-btn" onclick="location.href='./Login.html'">Se connecter</button>
                <button type="button" class="btn btn-default navbar-btn" onclick="location.href='./SignIn.html'">S'inscrire</button>
              <% } %>
            </div><!--/.nav-collapse -->
          </div>
        </nav>
        <header>
          <div class="container">
            <div class="starter-template">
              <h1>Commander dès maintenant</h1>
              <h2>Récapitulatif de votre commande</h2>
            </div>
          </div>
        </header>
          <div class="container">
            <table class="table table-striped table-hover table-bordered">
              <tr>
                <th> Bière </th>
                <th> Caractéristiques </th>
                <th> Points de vente </th>
                <th> Prix </th>
                <th> Nombre de bouteilles </th>
                <th> Prix total </th>
              </tr>
              <% let prixTotal = 0 %>
              <% for(var i = 0; i<commande.length; i++) {%>
                <ul>
                  <tr>
                    <td><%=commande[i].Bières %></td>
                    <td>
                       Type : <%=commande[i].Type%>; Degré : <%=commande[i].Degree%>; Brasserie : <%=commande[i].Brasserie%>
                    </td>
                    <td>
                      <%=PDVCommande[i]%>
                    </td>
                    <td>à venir</td>
                    <td>
                      <label for="type">Nombre de bouteilles : </label>
                      <input type="number" id="inputNbBiere<%=i%>" name="nombreBiere" placeholder="Nombre de Bouteilles" required>
                    </td>
                    <td></td>
                  </tr>
                </ul>
              <%}%>
            </table>

            <h4>Prix total : <%=prixTotal%></h4>

              <form action="/annuler" method="post">
                <button type="submit" class="btn btn-primary btn-block">Annuler</button>
              </form>
              <form action="/finalCommande" method="post">
                <button type="submit" class="btn btn-default btn-block">Confirmer la commande</button>
              </form>

          </div>
        <footer class="footer">
          <% include ../parties/footer %>
        </footer>
        <% include ../parties/scripts %>
    </body>
</html>
